.home {
  padding: 2rem;
  text-align: center;
}

.home h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--grey-800);
}

.home p {
  font-size: 1.2rem;
  color: var(--grey-300);
}

@media (prefers-color-scheme: dark) {
  .home h1 {
    color: var(--grey-100);
  }
  
  .home p {
    color: var(--grey-200);
  }
}
