@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Rubik', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Color palette from branding guidelines */
  --white: #FFFFFF;
  --black: #000000;
  
  /* Greys */
  --grey-100: #CACAD6;
  --grey-200: #A3A3AD;
  --grey-300: #7F7F87;
  --grey-400: #3B3B45;
  --grey-500: #303038;
  --grey-600: #262629;
  --grey-700: #212124;
  --grey-800: #1E1E24;
  --grey-900: #1C1C1F;
  --grey-950: #0E0E0F;
  --grey-975: #050505;

  color-scheme: light dark;
  color: var(--grey-800);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--grey-100);
    background-color: var(--grey-900);
  }
}
